<body style = "background : url(https://drive.google.com/uc?id=1sNNGj2tW0IHwdwnFbxZWYCM4WkapGuMf); background-size: 100% ">
<h2> Group Members </h2>

<A HREF="index.html">Homepage</A>
<A HREF="test_machine.html">Testing Machines</A>
<A HREF="posters.html">Final Poster</A>

<p></p>
<p>Mentor:Prof. Irene Georgakoudi</p>
<p>Class Instructor:Prof. Xiaocheng Jiang , Prof. Brian Timko</p>
<p>Chris Flynn</p>
<p>Isaac Lasko</p>
<p>Xi Yu</p>

<p></p>

<h2> Acknowledgements </h2>
<p>Thanks to members in Irene's lab including Zhiyi Liu, Dimitra Pouli for support on optical analysis.</p>
<p>Thanks to Professor Luis Dorfmann and Professor Sauro Liberatore from Tufts mechanical engineering department for support on mechanical analysis.</p>

