<body style = "background : url(https://drive.google.com/uc?id=1sNNGj2tW0IHwdwnFbxZWYCM4WkapGuMf); background-size: 100% ">
<h2>Design of a Label-Free, Non-Destructive Imaging Platform to Assess Tissue Mechanical Properties</h2>
<A HREF="Group_member.html">Group Members</A>
<A HREF="test_machine.html">Testing Machines</A>
<A HREF="posters.html">Final Poster</A>

<p><strong>Introduction</strong></p>

<p>Extracellular matrix stiffness can have a significant impact on physiological outcomes, such as in cancer, fibrosis, and wound healing (1). Collagen crosslinking, a contributor to tissue stiffness, has fluorescent and scattering properties, allowing an opportunity to develop a non-invasive imaging modality, bridging the gap between optical and biomechanical characterization, giving quantitative data on tissue fate. We investigated these properties in plain collagen gels and collagen with one of two methods of ribose induced crosslinks (2) in an effort to design a quantitative imaging platform for predicting tissue stiffness with label-free, non-destructive Two-Photon Microscopy.

</p>

<p><strong>Aim 1: To characterize collagen gel optically by fluorescence, second harmonic generation, and two photon fluorescence.</strong></p>
<p><strong>Aim 2: To characterize collagen mechanical properties and develop a mathematical model.</strong></p>
<p><strong>Aim 3: To compose a predictive model for assessing tissue stiffness through non-invasive, label-free imaging.</strong></p>

<img src="https://drive.google.com/uc?id=10GiZ6DWuahbTufED6AuXEByOzYjz5TF4" alt="Graphical Flow Diagram" height="450" width="800"/>

<h3>Methods and Materials</h3>

<p> 1. Three type of gels (plain, post-glycated, pre-glycated) are formed from Lyophilized Type I Rat-Tail Collagen to reach a neutralized pH,1.5 mg/ml Collagen, 25 mM HEPES concentration (1). 
Preglycated: Add 250mM Ribose to 3 mg/ml Collagen, for 5 days  at 4 °C, then Gelation. 
Postglycated Method: Gelation, add  250mM ribose solution on top of  gel for 5 days at 37 °C . (1:1 ratio by volumes)</p>

<p>2. Optical Analysis: Use modified non-negative matrix factorization to deconvolute components within raw spectra, solve for relative absolute concentration and percentage contribution for components.</p>
<p>3.  Mechanical Analysis: Fit the Fung Material model to stress vs. stretch curves to derive optimal μ and α parameters for
all curves. 𝝈=Stress. λ=Stretch.</p>

<h3>Results</h3>
<img src="https://drive.google.com/uc?id=1jdKf503VuN7ZhPts_cdLSzUdbYORZ0b6" alt="Normalized Component Spectra" height="300" width="800"/>
<p>From de-convolution algorithm, 6 fluorescent component are derived peaking at 440nm, 460nm, 490nm, 510nm, 550nm, and 630nm.</p>

<img src="https://drive.google.com/uc?id=1W7F4thdRrAaqND7bUCwLwhMrSxUWD8zr" alt="Relative Absolute Concentration Plot" height="400" width="800"/>
<p>Concentration of each component is calculated as the area under curve value.</p>

<img src="https://drive.google.com/uc?id=1seYhZA2G4AgYfsoHIu3lBYHruSRQEUVF" alt="Stress Strain Curve Raw" height="200" width="400"/>
<img src="https://drive.google.com/uc?id=1EDF_U8qzAYD4fsUeImjnhv4hVYm9vjMI" alt="Stress Strain Curve Fitted" height="200" width="400"/>
<p>Raw and fitted stress vs. strain curves by the Fung material model</p>

<img src="https://drive.google.com/uc?id=1Wx5KPqGjsm5fvUC8boCIzswswQiA_oXX" alt="Stats plot for mechanical data" height="500" width="800"/>
<p>Statistical results for alpha, mu, maximum stretch, maximum stress.</p>

<h3> Future Directions </h3>

<p> Spectral deconvolution</p> 
<p> 1. Refine shape of fluorescence components to make concentration calculation more accurate.</p> 
<p> 2. Optimize excitation wavelength choices.</p> 
<p> 3. Collect more samples of each type for statistical analysis.</p> 
<p> 4. Vary concentration of added ribose and observe concentration change for ribose-associated fluorophores.</p> 
<p> 5. Collect data from samples with a different crosslinking agent (e.g. LOX).</p> 

<p> Mechanical analysis:</p> 
<p> 1. Design a new mold or bioreactor that allows optical and mechanical characterization of the same sample.</p> 
<p> 2. Collect mechanical data from gel induced with varied ribose concentrations or different crosslinking agents (e.g. LOX). </p>

<a href="https://drive.google.com/uc?id=1bMZrIex0eXMqM_t05baPgvXq8m8IZ46Y">Detailed explanation on optical data analysis</a>

<p></p>
<a href="https://drive.google.com/uc?id=1PYeztV57pxGJkjIj36jchE-P80ALyCSz">Detailed explanation on mechanical data analysis</a>

<h2>A beauty SHG stack of post-glycated gels</h2>
<img src="z_depth.gif" title="SHG stack" />
<p>The stack is shown as a function of depth.</p>
<p></p>
<p></p>
<p> References</p>
<p>(1)Roy, R., Boskey, A., & Bonassar, L. J. (2010). Processing of type I collagen gels using nonenzymatic glycation. Journal of Biomedical Materials Research - Part A, 93(3), 843–851. https://doi.org/10.1002/jbm.a.32231</p>
<p>(2) Cox, T. R., Bird, D., Baker, A. M., Barker, H. E., Ho, M. W. Y., Lang, G., & Erler, J. T. (2013). LOX-mediated collagen crosslinking is responsible for fibrosis-enhanced metastasis. Cancer Research, 73(6), 1721–1732. https://doi.org/10.1158/0008-5472.CAN-12-2233</p>

