<body style = "background : url(https://drive.google.com/uc?id=1sNNGj2tW0IHwdwnFbxZWYCM4WkapGuMf); background-size: 100% ">
<h2> BME 8 Poster </h2>

<A HREF="index.html">Homepage</A><p></p>
<A HREF="Group_member.html">Group Members</A><p></p>
<A HREF="test_machine.html">Testing Machines</A><p></p>
<p></p>
<img src="https://drive.google.com/uc?id=1Ld2mWXZq2A7g3gGBjRa8IreVK3URjP6I" alt="poster" height="400" width="300"/>