<body background="https://drive.google.com/uc?id=1sNNGj2tW0IHwdwnFbxZWYCM4WkapGuMf">
<h2> Testing Machine </h2>
<p></p>
<A HREF="index.html">Homepage</A> <p></p>
<A HREF="Group_member.html">Group Members</A> <p></p>
<A HREF="posters.html">Final Poster</A> <p></p>


<p></p>
<p>OPTICAL</p>
<p>Leica Confocal/Two photon systems</p>
<p>Leica TCS SP8 Microscopes</p>
<img src="http://engineering.tufts.edu/bme/imagingcenter/sites/all/themes/asbase/assets/images/equipment.jpg" alt="Leica_sp8" />
<p></p>
<p>The SP8 systems can provide visible light laser excitation at 405, 488, 514, 552
and 638nm. Their stands are DMi8 CS Trino research inverted microscopes with
fluorescence, polarization and DIC capabilities. They are outfitted with a series
of objectives spanning the range of magnification and numerical aperture 10x/0.3
to 40x/1.3, to perform wide-field/low resolution imaging for initial sample
assessment and narrow-field/high-resolution imaging with optimal refractive index
matching (water and oil immersion objectives) and long free working distances for
imaging thick specimens. Images can be collected by three distinct internal descanned
detectors within wavelength ranges set arbitrarily by the user in the 400-800 nm range
Full emission spectral images can also be collected over these ranges in wavelength
steps defined by the user and optimized for the specific application. In addition,
external non-descanned detectors with specialized filters are available for nonlinear
microscopy covering a broad range of chromophores and various imaging modalities (TPEF, SHG, CARS and FLIM).
Use of highly sensitive, low-noise Leica HyD (hybrid) detectors significantly
enhances the detection of weak optical signals and provides photon-counting
capabilities.</p>
<p></p>
<p></p>
<p>MECHANICAL</p>
<p>Biaxial testing machine from Zwick Rowell</p>
<p>Biaxial Testing</p>
<img src="http://engineering.tufts.edu/cee/msml/images/resourcesBiaxial2.jpg" alt="zwick_rowell_1" />
<img src="http://engineering.tufts.edu/cee/msml/images/resourcesBiaxial5.jpg" alt="zwick_rowell_2" />

<p>The Zwick machine is a custom built biaxial material testing device equipped 
with 4 linear independently controlled actuators of 2kN capacity. Each actuator 
is fitted with a loading fixture for applications of tensile and/or compressive 
loads to the test sample and a dedicated load cell. The actuator drive system's 
travel resolution is 0.101µm while the load cells resolution is .001N. Actuators
can be positioned every 45° around the sturdy round aluminum supporting table.</p>

<p></p>

<p>A video extensometer rigidly fixed to the machine frame allows for 
non-contact strain measurements of materials that undergo medium to large 
deformations. The extensometer is equipped to capture both Axial and Transverse
strains simultaneously in separate input channels. Camera lenses are
interchangeable to permit different field of views and minimum theoretical
resolution ranging from 0.3µm to 6µm. With the present field of view and lens,
resolution is 1µm. </p>
<p></p>
<p>The testing software testXpert II installed on a dedicated computer allows full customization of test procedures, loading sequences as well as standard DIN, ISO and ASTM test specs. 

To accommodate diverse testing protocols, custom-designed test fixtures can be designed by one of the lab engineers, and coupled with an appropriate force transducer. 

A water bath for characterization of materials in various solutions is also available. </p>